.card {
  display: inline-block;
  background-color: var(--card);
  color: var(--on-card);
  margin: 8px;
  padding: 16px;
}
/*
a:first-of-type .card{
  margin-left: 0;
}
a:last-of-type .card{
  margin-right: 0;
}
*/
.card p,
.card h3{
  color: inherit;
  margin: 8px 0;
}
.card *:first-child{
  margin-top: 0;
}
.card *:last-child{
  margin-bottom: 0;
}
