.question .button_key {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  min-width: 12px;
  text-align: center;
  color: var(--secondary);
  font-weight: bold;
  margin: 0 16px 0 0;
  line-height: 27px;
}

.question input,
.question textarea {
  display: block;
  height: 32px;
  width: calc(100% - 32px);
  margin: 16px 0;
  padding: 8px 16px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--secondary);
  outline: none;
}
.question textarea {
  max-width: 100%;
  min-height: 256px;
  resize: vertical;
}
.question input:focus,
.question textarea:focus {
  border-color: var(--primary);
}

.option {
  display: block;
}
