.survey {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--surface, white);

  overflow: hidden;
  --progress-height: 48px;
  --actions-height: 84.8px;
}

.survey .progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  margin: 32px 32px 0;
  height: 16px;
  background-color: var(--primary, grey);
  overflow: hidden;
  transition: opacity 0.2s ease;
}
.survey .progress:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary, black);
  width: var(--width);
  transition: width 0.2s ease;
}

.survey .content {
  position: fixed;
  top: var(--progress-height);
  right: 0;
  bottom: var(--actions-height);
  left: 0;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 32px;
}
.survey .content .contentWrapper {
  width: 640px;
  max-width: 100%;
  margin: 64px auto;
}

.survey .actions {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--card, white);
  color: var(--on-card, black);
  padding: 16px 32px;
}
